@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout =  "StarterPagesLayout.cshtml";
	var pagePageBanner = "";
	 if(Umbraco.Field("pageBanner",recursive: true) != null)
	{
	  PageBanner = Umbraco.Field("pageBanner",recursive: true).ToString();
	 }
}
@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold_0-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light_0-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular_0-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsmedium';
    src: url('../fonts/poppins-medium_0-webfont.woff2') format('woff2'),
         url('../fonts/poppins-medium_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinssemibold';
    src: url('../fonts/poppins-semibold_0-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibold_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.top-banner{background:url(@Umbraco.TypedMedia(PageBanner).Url) no-repeat center; background-size: cover; text-align: center; min-height: 770px; position: relative; background-attachment: fixed;}

.top-banner .header{min-height: 40px; padding-top:20px; }

.top-banner .header .navbar-default{background-color: transparent; border-radius: 0; border:none; }

.top-banner .header .navbar-default .navbar-brand{margin:0; padding: 0; }

.top-banner .header .navbar-default ul{margin: 0; padding: 0;}

.top-banner .header .navbar-default ul li{position: relative; outline: none; box-shadow: none;}

.top-banner .header .navbar-default ul li:after{position: absolute; content: ''; border: 1px solid #c1c1c0; top:17px ; right: 0; height:15px; width: 2px; }
.top-banner .header .navbar-default ul li:nth-child(3):after,ul li:nth-child(4):after{display: none;}

.top-banner .header .navbar-default ul li a{color: #fff; text-transform: capitalize;  padding: 0 15px; margin:15px 0; font-size: 16px;}
.top-banner .header .navbar-default ul li a:hover{color: #ccc;}

.top-banner .header .navbar-default .btn-default{background-color: #fff; color: #565656;  font-size: 18px; text-transform: uppercase; border: none; border-radius:5px; font-family: 'poppinsmedium'; padding: 12px 16px 9px;margin-top:5px ; font-size: 14px; margin-left: 14px; line-height: 16px; 
-webkit-transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
     -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out}
.top-banner .header .navbar-default .btn-default:hover ,.top-banner .header .navbar-default .btn-default:focus,.top-banner .header .navbar-default .btn-default:active{background: #6b188f; color: #fff; outline: none; box-shadow: none; border:none;}






.top-banner .banner-containt{padding: 15% 0 0; }
.top-banner .banner-containt h1{font-size: 74px; color: #fff;  font-family: 'poppinsbold'; margin: 0;}
.top-banner .banner-containt p{font-size: 18px; color: #fff; margin-top: 15px;}
.top-banner .banner-containt a.btn-primary{margin-top:40px; }
 .btn-primary{padding: 14px 36px 10px;  font-size: 18px; text-transform: uppercase; background-color: #6b188f; border: none;  border-radius:5px; font-family: 'poppinsregular';
-webkit-transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
     -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out; border:none; outline: none; box-shadow: none;}
 .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus{background: #520a71; color: #fff; border:none; box-shadow: none; outline: none;}



.top-banner .banner-containt a.arrow-box{border-radius: 50%; height: 70px; width: 70px; background-color: #fff; text-align: center; padding-top: 8px; display: block; position: absolute; left: 50%; margin-left: -35px; bottom:-31px;}
.top-banner .banner-containt a.arrow-box:before{position: absolute; content: ''; background: #fff; width: 82px; height: 82px; opacity: 0.2; left: 50%; margin-left: -41px; bottom: -5px; border-radius: 50%;}







/*midsection*/
.midsection{text-align: center; padding:78px 0 75px; border-bottom: 1px solid #e4e4e4;}



 h2{ position: relative; margin:22px 0 ; padding: 0; font-size: 34px;  font-family: 'poppinsbold'; color: #6b188f;  }

 h2:before{position: absolute; content: ''; width: 130px; top:-75%; left: 50%;margin-left: -65px; height: 2px; background-color: #cccccc;}
 h2:after{position: absolute; content: ''; width: 64px; top:-75%; left: 50%;margin-left: -32px; height: 2px; background-color: #6b188f;}
.midsection p{font-size: 18px; color: #737373; padding:0 10%; margin:0 00;}

.midsection .wanaservice{text-align: left; vertical-align: top; margin-top:125px;}
.midsection .wanaservice p{padding: 0; font-size: 14px; color: #4c4c4c; font-family: 'poppinslight'; margin: 0;}

.midsection .wanaservice .img-box{display: inline-block; width: 40px; vertical-align: top;}

.midsection .wanaservice .seprat{display: inline-block; vertical-align: top; padding-top: 55px;}

.midsection .wanaservice .textcontent{display: inline-block; width: 70%;}

.midsection .wanaservice .textcontent h3{display: inline-block; font-family: 'poppinsbold'; margin:0; padding: 0; font-size: 18px; color: #585858; }
.midsection .wanaservice .textcontent p{display: inline-block; font-size: 14px; color: #4c4c4c;   font-family: 'poppinslight'; margin-top: 5px;}

.midsection .wanaservice .seprat p{color: #9e9e9e; font-family: 'poppinsbold'; }
.midsection .wanaservice .seprat{position: relative; margin:0 14px;}

.midsection .wanaservice .seprat:before{position: absolute; content: ''; border: 1px solid #c6c6c6; top: 0; bottom: 0; left: 2px; right: 5px; height: 50px; width: 1px}
.midsection .wanaservice .btn-primary{background-color: #6b188f; border: none; text-transform: uppercase; font-size: 18px; margin: 70px 0 0; padding: 14px 28px 10px; box-shadow: none; outline: none; border:none;}
.midsection .wanaservice .btn-primary:hover,.midsection .wanaservice .btn-primary:focus,.midsection .wanaservice .btn-primary:active{background: #520a71; color: #fff; }




.mid-contant{padding:100px 0 80px 0; }
.mid-contant h2{font-size: 34px; font-family: 'poppinssemibold';  margin: 0; color: #585858;}
.mid-contant h2:after{display: none;}
.mid-contant h2:before{display: none;}
.mid-contant h4{font-size: 14px;  font-family: 'poppinslight'; color: #333333; text-transform:uppercase; margin: 10px 0 10px; }
.mid-contant p{font-size: 16px; margin: 20px 0 40px; line-height: 24px; color: #585858;}
.mid-contant .boxright{text-align: right; position: relative; border-right: 4px solid #e4e4e4; padding: 25px 35px 25px 0px;}
.mid-contant a{border-right: 1px solid #6b188f; color: #6b188f; font-size: 14px; padding: 0 10px; text-decoration: none;}
.mid-contant a:hover{font-weight: 800;}

.mid-contant .boxright:before{content: ''; position: absolute;  top:00% ;right:-4px; height: 4px; width: 170px;  background-color: #e4e4e4;}
.mid-contant .boxright:after{content: ''; position: absolute;  top:100% ; right:-4px; height: 4px; width: 590px;  background-color: #e4e4e4;}

.mid-contant .boxleft{margin:70px 0; position: relative; border-left: 4px solid #e4e4e4; padding: 25px 0 25px 35px}
.mid-contant .boxleft a{border-right: none; border-left: 1px solid #6b188f;}

.mid-contant .boxleft:before{content: ''; position: absolute;  top:00% ;left:-4px; height: 4px; width: 170px;  background-color: #e4e4e4;}
.mid-contant .boxleft:after{content: ''; position: absolute;  top:100% ; left:-4px; height: 4px; width: 590px;  background-color:
 #e4e4e4;}






.footer{text-align: center; padding: 50px 0 36px 0; background-color: #f4f4f4; border-top: 1px solid #bd9ccc; }

.footer h2{font-size: 34px; color: #6b188f; font-family: 'poppinsbold'; text-transform: capitalize; margin: 0;}
.footer h2:after,.footer h2:before{display: none;}
.footer p{font-size: 14px; font-family: 'poppinslight'; text-transform: uppercase; margin:10px 0 45px 0; }
.footer a{font-size: 40px; text-decoration: none; color: #585858;  font-family: 'poppinssemibold'; }
.footer a:hover{color: #000;}
.footer a .call{padding:0 10px 15px 0;} 

.copy-right{padding: 30px 0; }
.copy-right ul{margin: 0; padding: 0; list-style: none; text-align: right;}
.copy-right ul li{display: inline-block; position: relative; padding: 0 9px;}
.copy-right ul li:before{position: absolute; content: ''; border-left:1px solid #545454; height: 15px; right: 0; top: 3px;}
.copy-right ul li:last-child:before{display: none;}

.copy-right ul li a{text-decoration: none; color: #545454; font-family: 'poppinslight'; font-size: 14px;}
.copy-right ul li a:hover{color: #000;}
.copy-right p{ margin: 0; color: #545454;}






/*update-profile*/


.top-banner.account-profile {background-attachment: fixed; background-position:center top -270px;}
.top-banner.account-profile .header .navbar-default ul li a strong{ font-family: 'poppinssemibold';}

.top-banner .header .navbar-default ul li.dropdown ul li:after{display: none;}
.top-banner.account-profile ul li.dropdown.open {background: none;}
.top-banner.account-profile ul li.dropdown.open a{background: none; color: #fff;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{border:none;}
.top-banner.account-profile ul li.dropdown .dropdown-menu {text-align: right; border-radius: 5px;}
.top-banner.account-profile ul li.dropdown .dropdown-menu a{margin:4px 0; padding: 5px 10px; color: #000; line-height: 16px;}
.top-banner.account-profile ul li.dropdown .dropdown-menu a:hover{color: #6b188f;}
.top-banner.account-profile ul li.dropdown .caret{margin-bottom: 5px;}

.top-banner.account-profile{height: 380px; min-height: inherit;}
.top-banner.account-profile .banner-containt{padding-top: 4%;}

.update-profile{padding: 60px 0 72px; text-align: center;}
.update-profile p{font-size: 14px; color: #8d8d8d; padding:0 10%; margin:0 0 40px; }

.update-profile .nav-tabs{margin:28px auto 20px; text-align: center; border:none; display: inline-block; position: relative;}
.update-profile .nav-tabs:before{position: absolute; content: ''; width: 130px; top:-26px; left: 50%;margin-left: -65px; height: 2px; background-color: #cccccc;}
.update-profile .nav-tabs:after{position: absolute; content: ''; width: 64px; top:-26px; left: 50%;margin-left: -32px; height: 2px; background-color: #6b188f;}


.business-page .top-head{margin:28px auto 20px; text-align: center; border:none; display: inline-block; position: relative; padding: 0;}

.business-page .top-head:before{position: absolute; content: ''; width: 130px; top:-26px; left: 50%;margin-left: -65px; height: 2px; background-color: #cccccc;}
.business-page .top-head:after{position: absolute; content: ''; width: 64px; top:-26px; left: 50%;margin-left: -32px; height: 2px; background-color: #6b188f;}

.business-page .top-head li{display: inline-block; border:none; text-align: center; padding: 0 10px; }

.update-profile .top-head li:first-child{border-right:6px solid #8e8e8e!important;}
.business-page .top-head li a{border:none;  margin: 0 ; padding: 0; font-size: 34px;  font-family: 'poppinsbold'; color: #8e8e8e;  line-height: 36px;  text-decoration: none;}
.business-page .top-head li a:hover,.business-page .top-head li a:focus{border:none; padding: 0;}
.business-page .top-head li.active a{color: #6b188f;}

.business-page .top-head li.active{border:none;}
.business-page .top-head li a:hover{border:none; background:none;}


.update-profile .nav-tabs li{border:none; text-align: center; padding: 0 10px; }

.w300{width:300px; margin-right:0px !important;}
.w231{width:231px !important;;}

.update-profile .nav-tabs li:first-child{border-right:6px solid #8e8e8e!important;}


.update-profile .nav-tabs li a{border:none;  margin: 0 ; padding: 0; font-size: 34px;  font-family: 'poppinsbold'; color: #8e8e8e;  line-height: 36px;}
.update-profile .nav-tabs li a:hover,.update-profile .nav-tabs li a:focus{border:none; padding: 0;}
.update-profile .nav-tabs li.active a{color: #6b188f;}

.update-profile .nav-tabs li.active{border:none;}
.update-profile .nav-tabs li a:hover{border:none; background:none;}


.update-profile .nav-tabs h1{border:none;  margin: 0 ; padding: 0; font-size: 34px;  font-family: 'poppinsbold'; color: #6b188f;  line-height: 36px;}

.update-profile h2 span{color: #8e8e8e;}
.update-profile form{text-align: left;}
.update-profile .form-group {margin-bottom: 20px; position: relative;}
.update-profile .form-group .form-control{height: 50px; box-shadow: none;  padding-left: 20px; border-radius: 0; font-size:16px; color: #000; margin-right:20px; }
.update-profile .form-group  span{position: absolute; top: -2px; right: -12px; color: #ff0000; font-size: 18px;}

.update-profile .form-group .custom-input{ position: relative;}
.update-profile .form-group .custom-input:after{position: absolute; content: '*';  color: #ff0000; font-size: 18px; right: -12px; top: -2px;}

.update-profile .form-group  span.label-star{position: absolute; top: 26px; right: -12px; color: #ff0000; font-size: 18px;}

.update-profile .form-group p{color: #adadad; margin:9px 0 0 0; padding:0; text-align: left;}
.update-profile .form-group label{color: #000;  font-size:16px; text-align: left; margin:0 0 5px 0; display: block; font-weight: normal;}


.update-profile .form-group .wd-day{width: 110px; display: inline-block; margin-right: 6px;}
.update-profile .form-group .wd-year{width: auto; display: inline-block;}
.update-profile .form-group .yes-no{width: 140px; display: inline-block;}

#midsection3{-webkit-transition: all .25s ease;
   -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
     -o-transition: all .25s ease;
        transition: all .25s ease;}

.update-profile .form-group select{
    width:100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0px 30px 0px 20px;
    border-radius: 0;

    border: 1px solid #cecece;
    background:url(../img/form-arrow.png) right 15px center no-repeat; 

}

.update-profile .btn-primary{ margin:20px 0 0 0; font-size: 20px; padding: 15px 30px 12px;}
.update-profile .btn-primary:hover,.update-profile .btn-primary:focus,.update-profile .btn-primary:active{background: #520a71; color: #fff; }
.submit{margin: 20px 0 0 0;
    font-size: 20px;
    padding: 15px 30px 12px;text-transform: uppercase;
    background-color: #6b188f; color:#fff;     font-family: 'poppinsregular';}
	
	.submit:hover, .submit .submit:focus, .submit .submit:active {
    background: #520a71;
    color: #fff;
}

/*Business*/
.business-page p{margin-bottom: 20px;}
.business-page .btn-primary{margin-top: 0; font-size: 18px;   font-family: 'poppinslight'; text-transform: capitalize; border-radius: 30px; padding: 16px 25px 13px;}
.business-page .btn-default{margin-top: 0; font-size: 18px;   font-family: 'poppinslight'; text-transform: capitalize; border-radius:30px; padding: 16px 25px 13px; color: #000; margin-right: 20px;}
.business-page h4{font-size: 22px; color: #000; font-family: 'poppinslight'; margin:0 0 10px;}
.business-page .browse-btn{text-align: center; }
.business-page .browse-btn input{margin: 0 auto; outline: none; width: 200px;}

.business-page .img-div{margin-top: 45px; position: relative;}
.business-page .img-div a{position: absolute;  left: 50%; margin-left: -46px; top: 50%; margin-top: -46px;}



.business-page .top-head{margin:28px auto 20px; text-align: center; border:none; display: inline-block; position: relative; padding: 0;}

.business-page .top-head:before{position: absolute; content: ''; width: 130px; top:-26px; left: 50%;margin-left: -65px; height: 2px; background-color: #cccccc;}
.business-page .top-head:after{position: absolute; content: ''; width: 64px; top:-26px; left: 50%;margin-left: -32px; height: 2px; background-color: #6b188f;}

.business-page .top-head li{display: inline-block; border:none; text-align: center; padding: 0 10px; }

.update-profile .top-head li:first-child{border-right:6px solid #8e8e8e!important;}
.business-page .top-head li a{border:none;  margin: 0 ; padding: 0; font-size: 34px;  font-family: 'poppinsbold'; color: #8e8e8e;  line-height: 36px;  text-decoration: none;}
.business-page .top-head li a:hover,.business-page .top-head li a:focus{border:none; padding: 0;}
.business-page .top-head li.active a{color: #6b188f;}

.business-page .top-head li.active{border:none;}
.business-page .top-head li a:hover{border:none; background:none;}

.business-page .nav-tabs{margin: 0; padding: 0;}
.business-page .nav-tabs:after,.business-page .nav-tabs:before{display: none;}

.business-page .nav-tabs li{padding: 0; margin: 0;}
.business-page .nav-tabs li:first-child{border: none!important; margin-right: 18px;}
.business-page .nav-tabs li a{margin-top: 0; font-size: 18px;   font-family: 'poppinslight'; text-transform: capitalize; border-radius: 30px; padding: 16px 25px 13px; border:1px solid #cecece; line-height: 24px; box-shadow: none; color: #000; background: transparent;
-webkit-transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
     -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;}
.business-page .nav-tabs li a:hover,.business-page .nav-tabs li a:focus{ padding: 16px 25px 13px; line-height: 24px;  border:1px solid #cecece; color: #fff; background: #6b188f;}
.business-page .nav-tabs li.active a{background: #6b188f; color: #fff; padding: 16px 25px 13px; line-height: 24px;  border:1px solid transparent; color: #fff; }
.business-page .tab-pane{padding:30px 0;}





.modal {padding-right: 0!important;}
.modal .modal-header{background: #d6d6d6; border-radius: 5px; padding:15px 25px; }
.modal .modal-header h5.modal-title{font-size:24px; display: inline-block;}
.modal .modal-header .close{opacity: 1; outline: none; box-shadow: none;}
.modal .modal-dialog{width: inherit; max-width: 660px; margin:5% auto;}
.modal .modal-body{padding: 20px 50px;}
.modal .modal-body .form-control{color: #adadad; height:50px; border-radius: 0; box-shadow: none; outline: none; border:1px solid #cecece; font-size: 16px; padding: 0px 20px;}
.modal .modal-body .btn-primary{margin-top:30px; font-size: 20px; padding: 16px 50px 12px; }
.modal .modal-body .btn-primary:hover{background: #520a71; color: #fff; }

.modal .radio-btn label{margin-right: 60px; cursor: pointer;}
.modal .radio-btn input[type=radio]:not(old){ margin  : 0; padding : 0; opacity : 0; display: none;}
.modal .radio-btn input[type=radio]:not(old) + label{ display : inline-block;  background : url('../img/checks.png') no-repeat 0 5px;  
 color: #474747; font-weight: 700; font-size: 22px; margin: 0;  padding :15px 10px 15px 55px; }
.modal .radio-btn input[type=radio]:not(old):checked + label{ background-position : 0 -85px; color: #535353;}



.modal .check-box label{cursor: pointer; margin-left: -7px;}
.modal .check-box input[type=checkbox]:not(old){ margin  : 0; padding : 0; opacity : 0; display: none;}
.modal .check-box input[type=checkbox]:not(old) + label{ display : inline-block;  background : url('../img/checkbox.png') no-repeat 0 2%;  
 color: #adadad; font-size: 18px; margin: 0;  padding :15px 10px 15px 75px; font-weight: normal; }
.modal .check-box input[type=checkbox]:not(old):checked + label{ background-position : 0 -57px; color: #535353;}


.modal a.forgot-ps{color: #6b188f; font-size: 18px; margin-top: 15px; display: inline-block; outline: none; box-shadow: none;}


ul.profilelist{ margin: 0px; padding: 0; list-style: none; }
ul.profilelist li{ display: inline-block; width: 48%; padding: 10px 15px; font-size: 16px; color: #909090; text-align: right;vertical-align: top;}
ul.profilelist li:nth-child(even){text-align: left; color: #000;}



@media(max-width: 1199px){
    .midsection .wanaservice .img-box{width: 35px;}
    .midsection .wanaservice .seprat{margin: 0 8px;}
}

@media(max-width: 990px){
    .top-banner .banner-containt h1{font-size: 52px;}
    .top-banner{min-height: 578px;}
    .midsection p{padding: 0;}
    .midsection .wanaservice .textcontent{width: 74%;}
    .midsection .wanaservice .seprat{margin: 0;}

    .copy-right{text-align: center;}
    .copy-right ul{text-align: center; margin: 0 auto;}
}


@media(max-width: 767px){
    .top-banner.account-profile{background-position: center center; background-attachment: inherit;}
    .navbar-collapse{position: absolute; width: 100%; background: rgba(0,0,0,0.7); z-index: 999;  }
    .top-banner .header .navbar-default ul{padding: 20px 0;}
    .top-banner.account-profile ul li.dropdown .dropdown-menu{text-align: center; margin: 0; padding: 0;
        -webkit-transition: all .25s ease;
           -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
             -o-transition: all .25s ease;
                transition: all .25s ease;}
    .top-banner.account-profile ul li.dropdown .dropdown-menu a{color: #fff;}
    
    .top-banner .banner-containt h1{font-size: 36px;}
    .top-banner .header .navbar-default .navbar-brand{margin-left: 15px;}
    .top-banner .banner-containt{padding: 8% 0 0;}
    .top-banner{min-height: 460px;}
    .top-banner .header .navbar-default .btn-default{display: inline-block;}

    h2{font-size: 27px;}
    .midsection{padding:50px 0 35px; }
    
    .midsection .wanaservice {margin-top: 50px;}
    .midsection .wanaservice .seprat{margin: 0 10px;}
    .midsection .wanaservice .col-sm-4{margin-bottom: 20px;}
    .midsection .wanaservice .btn-primary{margin-top: 40px;}

    .mid-contant .boxright .text-left,.mid-contant .boxleft .text-right{text-align: center!important;}
    .mid-contant .img-responsive{display: inline-block; }
    .mid-contant h4{margin-top: 30px;}
    .mid-contant{padding: 70px 0;}
    .top-banner .header .navbar-default .navbar-collapse ul li:after{display: none;}
    .top-banner .header .navbar-default .navbar-collapse .btn-default{margin-left: 0;}

    .footer h2,.mid-contant h2{font-size: 27px;}
    .footer a{font-size: 30px;}

    .modal .modal-header h5.modal-title{font-size: 24px;}
    .modal .modal-header .close{width: 30px;}
    .modal .modal-header .close img{width: 100%;}
     .modal  .text-right{text-align: left!important;}

     .top-banner.account-profile ul li.dropdown .dropdown-menu a:hover{color: #ccc; box-shadow: none; border:none;}
     .update-profile p{padding: 0;}
     .update-profile p{font-size: 16px;}
     .update-profile .form-group label{font-size: 16px; margin-bottom: 12px;}
     .update-profile .nav-tabs li a{font-size: 24px;}


     .business-page .img-div{text-align: center;}
     .business-page .img-div img{display: inline-block;}

     .business-page .top-head li a{font-size: 24px;}
     .business-page .nav-tabs li a{font-size: 18px;}

     .top-banner.account-profile{height: 275px;}


}


@media(max-width: 568px){
    .mid-contant .boxleft:after{width: 100%;}
    .mid-contant .boxright:after{width: 100%;}

    .modal .radio-btn label{margin-right: 30px;}

}

@media(max-width: 480px){

    .top-banner{min-height: 490px;}
    .top-banner .banner-containt a.btn-primary{margin-top: 20px;}
    .footer a .call{width: 40px;}

    .modal .radio-btn label{margin-bottom: 15px;}

    .top-banner.account-profile{height: 250px;}
    .update-profile .form-group .form-control{font-size: 15px; padding-left: 15px;}

}
@media(max-width: 375px){
    .update-profile .nav-tabs li a{font-size: 22px;}
    .update-profile .nav-tabs li:first-child { border-right: 4px solid #8e8e8e!important;}


    .business-page .nav-tabs li:first-child{border:none!important;}
    .business-page .nav-tabs li a{font-size: 16px;}
    .business-page .nav-tabs li:first-child{margin-right: 10px;}
    .business-page .top-head li a{font-size: 22px;}
    .update-profile .top-head li:first-child {border-right: 5px solid #8e8e8e!important;}
    .business-page .top-head li{padding: 0 7px;}

}

@media(max-width: 360px){
    .midsection .wanaservice .textcontent h3{font-size: 16px;}
    .midsection .wanaservice .seprat{margin:0 8px;}
    .top-banner .banner-containt h1{font-size: 32px;}
    .top-banner .banner-containt p{font-size: 16px;}
    
    .update-profile .nav-tabs li{padding: 0 7px;}
    .business-page .nav-tabs li{padding: 0 0px; }
    .business-page .nav-tabs li a{padding: 13px 16px 10px;}
    .business-page .nav-tabs li.active a{padding: 13px 16px 10px;}
}

    

@media(max-width: 320px){
    .update-profile .form-group select{background-size: 15px;}
    .modal .modal-body{padding: 35px;}
    .update-profile .form-group .form-control.wd-day{max-width: 80px;}
    .update-profile .form-group .form-control { font-size: 14px; padding-left: 12px;}
    .update-profile .nav-tabs li a{font-size: 19px;}

    .business-page .top-head li a{font-size: 19px;}
    .business-page .nav-tabs li a,.business-page .nav-tabs li.active a{font-size: 16px; padding: 11px 11px 9px;}
}