﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
string  phonelogo = "";string phonelogourl ="";
	
	if(Umbraco.Field("phoneIcon",recursive: true) != null)
	{
	   phonelogo = Umbraco.Field("phoneIcon",recursive: true).ToString();
	   if(phonelogo != null){
	   
	   //phonelogourl =Umbraco.TypedMedia(phonelogo).Url;
	   }
	 } 
	 
}

<section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 wow fadeInUp">
                    <h2> call us</h2>
                   <p>@Umbraco.Field("footerContent", altText:"Donec sed odio dui. Etiam porta sem malesuada.", recursive: true)</p>
                    <a href="tel:+1 254 693 1100"><img class="call" src="phonelogourl" alt="img"> 
                    @Umbraco.Field("contactNumber", altText:"+1 254 693 1100", recursive: true)</a> 
                </div>
            </div>
        </div>
    </section>
    
     <!-- footer -->
    <!-- copy-right -->
    <section class="copy-right">
        <div class="container">
          <div class="row ">
              <div class="col-md-6 col-sm-12">
                  <p>&copy; @Umbraco.Field("yearRange", altText:"2018-2019", recursive: true)  All rights reserved. @Umbraco.Field("creator", altText:"eritatis, quos non quis ad perspiciatis", recursive: true),</p>
              </div>
              <div class="col-md-6 col-sm-12">
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#"> Site map</a></li>
                    <li><a href="#"> Help</a></li>
                </ul>
              </div>
          </div>
        </div>
    </section>
    <!-- copy-right -->