﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@Umbraco.Field("logo", recursive: true)
 <!--top-banner-->
 
 @{
 
 string logo = "";
	bool hasRegistered = true;
	bool IsAuthenticated = false;
	
	if(Umbraco.Field("icon",recursive: true) != null)
	{
	  logo = Umbraco.Field("icon",recursive: true).ToString();
	 } 
	 
 }
     

   
            <nav class="navbar navbar-default">
              <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  
                
                 
                  <a class="navbar-brand" href="index.html"><img src="@Umbraco.TypedMedia(logo).Url" alt=""></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <p>Eric</p>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">home</a></li>
                    <li><a href="#">services</a></li>
                    <li><a href="#">about us</a></li>
                     <li><a class="btn btn-default" href="#" data-toggle="modal" data-target="#modal2">sign in</a></li>
                   
                    
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-->
            </nav>
       
       