﻿
@using Wena.Presentation.Controller

@model Wena.Presentation.Models.LoginViewModel

@using ContentModels = Umbraco.Web.PublishedContentModels;
 
 @{
 
 
 string cbckimag = "";
 string checkboxbackgroundimage ="";
 var currentPageId =  UmbracoContext.Current.PageId;   
            var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
            IPublishedContent content = umbracoHelper.TypedContent(currentPageId);
            
	if(content.GetPropertyValue("checkBoxBackgroundImage") != null)
	{
	  cbckimag = content.GetPropertyValue("checkBoxBackgroundImage").ToString();
	   checkboxbackgroundimage="../media/" + "1002" + "/checkbox.png";
	 } 
 }
  <style>
      
      .modal .radio-btn input[type=radio]:not(old) + label{ display : inline-block;  background : url(@checkboxbackgroundimage) no-repeat 0 5px;  
 color: #474747; font-weight: 700; font-size: 22px; margin: 0;  padding :15px 10px 15px 55px; }
.modal .radio-btn input[type=radio]:not(old):checked + label{ background-position : 0 -85px; color: #535353;}



.modal .check-box label{cursor: pointer; margin-left: -7px;}
.modal .check-box input[type=checkbox]:not(old){ margin  : 0; padding : 0; opacity : 0; display: none;}
.modal .check-box input[type=checkbox]:not(old) + label{ display : inline-block;  background : url(@checkboxbackgroundimage) no-repeat 0 2%;  
 color: #adadad; font-size: 18px; margin: 0;  padding :15px 10px 15px 75px; font-weight: normal; }
      }
  </style>

    @using (Html.BeginUmbracoForm<AccountController>("MemberLogin"))
    {
        <p style="color:red;">@TempData["Status"]</p>


        <br>
        <div class="form-group">
            <input type="text" class="form-control" required placeholder="Username" name="Email" value="@Model.Email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" required placeholder="Password" name="Password" value="@Model.Password">
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="check-box">
                    <label>
                        <input id="check1" type="checkbox" name="radio" value="@Model.RememberMe"><label for="check1">Remember me </label>
                    </label>
                </div>
            </div>
            <div class="col-sm-6 text-right">
                <a href="#" class="forgot-ps" data-toggle="modal" data-target="#modal3">Forgot password?</a>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Sign In</button>
    }

    

