﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

 <div class="boxleft">
             <div class="row">
              <div class="col-sm-5 col-sm-push-7 text-right wow fadeInLeft"><img class="img-responsive" src="img/goes-here-2.png" alt="img"></div>
                  <div class="col-sm-7 col-sm-pull-5 wow fadeInRight">
                      <h4>tagline here</h4>
                      <h2>Main title goes here</h2>
                      <p>There are many variations of passages of Lorem Ipsum available, but the
                        majority have suffered alteration in some form, by injected humour, or
                        randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                        embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, </p>
                        <a href="#"> readmore</a>
                  </div>
                  
              </div>
     
          

