﻿
@using Wena.Presentation.Controller;

@model Wena.Presentation.Models.AccountViewModel.RegisterViewModel


@if (User.Identity.IsAuthenticated)
{
    <p>
        Welcome, @User.Identity.Name
    </p>
    <p>
        @Html.ActionLink("Log out", "Logout", "Membership")
    </p>
}
else
{
    using (Html.BeginUmbracoForm<AccountController>("MemberRegister"))
    {

        <div class="form-group">
            <div class="radio-btn">
                <label>
                    <input id="radio_e" type="radio" name="radio" checked><label for="radio_e">Entrepreneur </label>
                </label>

                <label>
                    <input id="radio_p" type="radio" name="radio" value="2"><label for="radio_p">Partners </label>
                </label>


            </div>


        </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email Address" value="@Model.Email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" value="@Model.Password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" value="@Model.ConfirmPassword">
            </div>
            <a class="btn btn-primary">Sign Up</a>

        <button class="btn btn-primary" type="submit">Sign Up</button>
    }

    <p>@TempData["Status"]</p>
}   

