﻿
@using Wena.Presentation.Controller;

@model Wena.Presentation.Models.RegisterViewModel




    @*@using (Html.BeginUmbracoForm<AccountController>("MemberRegistration"))
    {*@
<form>
    <!--   <div class="form-group">
           <div class="radio-btn">
               <label>
                   <input id="radio_e" type="radio"   name="Category"  checked><label for="radio_e">Entrepreneur </label>
               </label>

               <label>
                   <input id="radio_p" type="radio" name="Category" value="2"><label for="radio_p">Partners </label>
               </label>


           </div>
       </div>-->
    <p id="errormessage" style="color:red">@TempData["Status"]</p>
    <div class="form-group">
        <input type="email" required value="@Model.Email" name="Email" class="form-control" placeholder="Email Address">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" required name="Password" value="@Model.Password" placeholder="Password">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" required name="ConfirmPassword" value="@Model.ConfirmPassword" placeholder="Confirm Password">
    </div>

    <button class="btn btn-primary submitform" type="submit">Sign Up</button>
</form>

  
    
@section pagescripts{
   
    }
   

