﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.AccountSetting>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "DashboardLayout.cshtml";
}

<section class="update-profile business-page">
        <div class="container">
            <div class="row">
              <div class="col-sm-12 wow fadeInDown">
                <ul class="top-head">
                  <li  class="active">
                    <a href="#">
                    My Account </a>
                  </li>
                  <li>
                    <a href="#">
                   Business Pitch</a>
                  </li>
                  <li>
                </ul>
                  
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>  

              
              <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <form>
                       
                       
                       <div class="form-group">
                        <input type="text" class="form-control" placeholder="Pawanjangirjpr@gmail.com">
                       <span>*</span>
                       </div>
                      



                    </form>
                    
                    <form>
                        <h3>Change Password</h3><br>
                       
                       <div class="form-group">
                        <input type="text" class="form-control" placeholder="Current Password">
                       <span>*</span>
                       </div>
                      
                       <div class="form-group">
                        <input type="text" class="form-control" placeholder="New Password">
                       <span>*</span>
                       </div>
                       <div class="form-group">
                        <input type="text" class="form-control" placeholder="Confirm New Password">
                       <span>*</span>
                       </div>
                      
                       <input type="submit" class="btn submit" name="button" id="button" value="Save Setting" />



                    </form>
                  </div>
              </div>
            </div>
              
              

            

            

        </div>
    </section>


