﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.BusinessPitch>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "DashboardLayout.cshtml";
}



           
    <!-- Upddate Profile -->
    <section class="update-profile business-page">
        <div class="container">
            <div class="row">
              <div class="col-sm-12 wow fadeInDown">
                <ul class="top-head">
                  <li>
                    <a href="#">
                    My Account </a>
                  </li>
                  <li  class="active">
                    <a href="#">
                   Business Pitch</a>
                  </li>
                  <li>
                </ul>
                  
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>  

              
              <div class="tab-pane active" id="tab_default_2">
                  <div class="row">
                    <div class="col-sm-12">
                      <h4>Select file from computer</h4>
                      <p>Lorem Ipsum is simply dummy text of text of the printing and typesetting </p>
                      <div class="browse-btn ">
                        <input type="submit" class="btn submit" name="button" id="button" value="Upload Video" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-4 wow fadeInLeft">
                        <div class="img-div">
                          <img src="img/img-1.jpg" class="img-responsive"  alt="">  
                          
                            <a href="#"><img src="img/vd-icon.png" alt=""></a>
                          
                        </div>
                       </div>
                       <div class="col-sm-4 wow fadeInUp">
                        <div class="img-div">
                          <img src="img/img-2.jpg" class="img-responsive"  alt="">  
                          
                            <a href="#"><img src="img/vd-icon.png" alt=""></a>
                          
                        </div>
                       </div>
                       <div class="col-sm-4 wow fadeInRight">
                        <div class="img-div">
                          <img src="img/img-3.jpg" class="img-responsive"  alt="">  
                          <a href="#">
                            <img src="img/vd-icon.png" alt="">
                            </a>
                          
                        </div>
                       </div>
                  </div>
              </div>
              </div>
            </div>
              
              

            

            

        </div>
    </section>