﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.BusinessProfile>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "DashboardLayout.cshtml";
}
 <!-- Upddate Profile -->
    <section class="update-profile">
        <div class="container">
            <div class="row">
              <div class="col-sm-12 wow fadeInDown">
                <ul class="nav nav-tabs ">
                 <h1>@Umbraco.Field("bodySectionTitle")</h1>
                </ul>
                  
              </div>
            </div>

            <div class="tab-content  wow fadeInUp">
              <div class="tab-pane active" id="tab_default_1">
                <div class="row">
                  <div class="col-sm-12">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>  
                    </div>
                  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <form>
                       <div class="form-group">
                        <input type="text" class="form-control" placeholder="Description of business concept/idea">
                       </div>
                       <div class="form-group">
                        <div class="custom-input">
                          <select class="form-control">
                            <option >Business Sector</option>
                            <option >Business Sector</option>
                          </select>
                          
                          </div>
                       </div>
                       <div class="form-group">
                        <div class="custom-input">
                          <select class="form-control">
                            <option class="select">Business Status</option>
                            <option >Business Status</option>
                          </select>
                          </div>
                       </div>
                       <div class="form-group">
                          <select class="form-control">
                            <option class="select">Primary Business/Operating Location </option>
                            <option >Primary Business/Operating Location </option>
                          </select>
                          <p>(or Planned Business Location) - Country and State</p>
                       </div>
                      
                       

                           <div class="form-group">
                              <input type="text" class="form-control" placeholder="Operating Address ">
                           </div>
                           <div class="form-group">
                              <input type="text" class="form-control" placeholder="Operating Address ">
                           </div>
                         

                       <div class="row">
                         <div class="col-sm-6">
                           <div class="form-group">
                              <input type="text" class="form-control" placeholder="City/Town of Residence ">
                              <span>*</span>
                           </div>

                         </div>
                       </div>

                        <div class="form-group">

                          <label>Month and Year of commencement of business</label>
                           <div class="wd-day">
                                   <select class="form-control ">
                                    <option class="select">05 </option>
                                    <option >06</option>
                                    <option >07</option>
                                    <option >08</option>
                                  </select>
                                  </div>
                                  
                                  <div class="custom-input " style="display: inline-block;">
                                  <div class="wd-year">
                                   <select class="form-control ">
                                    <option class="select">1984</option>
                                    <option >1985 </option>
                                    <option >1986 </option>
                                    <option >1987 </option>
                                  </select>
                                  </div>
                                </div>

                        </div>

                        <div class="form-group">
                          <label>Is the Company/Business/Enterprise registered/incorporated</label>
                           <select class="form-control yes-no">
                            <option class="select">Yes </option>
                            <option >No</option>
                          </select>
                        </div>

                         <div class="form-group">
                            <select class="form-control">
                              <option class="select">Type of Business Entity </option>
                              <option >Type of Business Entity </option>
                            </select>
                            <p>(Limited Liability Company etc.)</p>
                            <span>*</span>
                         </div>


                          
                               <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Name of Company/Business/Enterprise">
                                  <span>*</span>
                               </div>

                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Registration Number">
                                  <span>*</span>
                               </div>

                               <div class="form-group">
                                
                                  <label>Date of Registration (Month &Year)</label>
                                  <div class="wd-day">
                                   <select class="form-control ">
                                    <option class="select">05 </option>
                                    <option >06</option>
                                    <option >07</option>
                                    <option >08</option>
                                  </select>
                                  </div>
                                  
                                  <div class="custom-input " style="display: inline-block;">
                                  <div class="wd-year">
                                   <select class="form-control ">
                                    <option class="select">1984</option>
                                    <option >1985 </option>
                                    <option >1986 </option>
                                    <option >1987 </option>
                                  </select>
                                  </div>
                                </div>
                                  
                                </div>
                          
                          <div class="form-group">
                              <select class="form-control">
                                <option class="select">Are you a Director in the company? </option>
                                <option >Are you a Director in the company? </option>
                              </select>
                              <span>*</span>
                           </div>
                           
                           <div class="form-group">
                            <label >Does the company operate a corporate bank account?</label>
                              <select class="form-control">
                                <option class="select">State bank of india </option>
                                <option >State bank of india </option>
                              </select>
                              <span>*</span>
                           </div>

                           <div class="form-group">
                              <select class="form-control">
                                <option class="select">Business Status  </option>
                                <option >Business Status  </option>
                              </select>
                              <span>*</span>
                           </div>

                            <div class="form-group">
                              <label >How many permanent employees are employed in the business?</label>
                              <input type="text" class="form-control" placeholder="Enter Number">
                            </div>

                            <div class="form-group">
                              <label >How many temporary/casual employees are employed in  the business?</label>
                              <input type="text" class="form-control" placeholder="Enter Number">
                            </div>
                            
                            <div class="form-group">
                              <label >How do you currently keep financial records?</label>
                              <input type="text" class="form-control" placeholder="Enter Number">
                              <span class="label-star">*</span>
                            </div>

                            <div class="form-group">
                                <label >Do you have staff whose primary responsibility is to keep financial records?</label>
                                <select class="form-control">
                                  <option class="select">State bank of india </option>
                                  <option >State bank of india </option>
                                </select>
                             </div>

                             <a href="JavaScript:void(0)" class="btn btn-primary">FINISH</a>



                    </form>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab_default_2">
                  <div class="row">
                    <div class="col-sm-12">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>  
                    </div>
                  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 ">
                    <form>
                       <div class="form-group">
                        <input type="text" class="form-control" placeholder="Website Design">
                       </div>
                       <div class="form-group">
                        <div class="custom-input">
                          <select class="form-control">
                            <option >Business Sector</option>
                            <option >Business Sector</option>
                          </select>
                          
                          </div>
                       </div>
                       <div class="form-group">
                        <div class="custom-input">
                          <select class="form-control">
                            <option class="select">Business Status</option>
                            <option >Business Status</option>
                          </select>
                          </div>
                       </div>
                       <div class="form-group">
                          <select class="form-control">
                            <option class="select">Primary Business/Operating Location </option>
                            <option >Primary Business/Operating Location </option>
                          </select>
                          <p>(or Planned Business Location) - Country and State</p>
                       </div>
                      
                       

                           <div class="form-group">
                              <input type="text" class="form-control" placeholder="Canada, USA">
                           </div>
                         

                       <div class="row">
                         <div class="col-sm-6">
                           <div class="form-group">
                              <input type="text" class="form-control" placeholder="Canada">
                              <span>*</span>
                           </div>

                         </div>
                       </div>

                        <div class="form-group">

                          <label>Month and Year of commencement of business</label>
                           <select class="form-control wd-day">
                            <option class="select">05 </option>
                            <option >06</option>
                            <option >07</option>
                            <option >08</option>
                          </select>
                           <select class="form-control wd-year">
                            <option class="select">1984</option>
                            <option >1985 </option>
                            <option >1986 </option>
                            <option >1987 </option>
                          </select>

                        </div>

                        <div class="form-group">
                          <label>Is the Company/Business/Enterprise registered/incorporated</label>
                           <select class="form-control yes-no">
                            <option class="select">Yes </option>
                            <option >No</option>
                          </select>
                        </div>

                         <div class="form-group">
                            <select class="form-control">
                              <option class="select">Type of Business Entity </option>
                              <option >Type of Business Entity </option>
                            </select>
                            <p>(Limited Liability Company etc.)</p>
                            <span>*</span>
                         </div>


                          
                               <div class="form-group">
                                  <input type="text" class="form-control" placeholder="UI Infosolutions">
                                  <span>*</span>
                               </div>

                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="UAE124555">
                                  <span>*</span>
                               </div>

                               <div class="form-group">
                                
                                  <label>Date of Registration (Month &Year)</label>
                                  <div class="wd-day">
                                   <select class="form-control ">
                                    <option class="select">05 </option>
                                    <option >06</option>
                                    <option >07</option>
                                    <option >08</option>
                                  </select>
                                  </div>
                                  
                                  <div class="custom-input " style="display: inline-block;">
                                  <div class="wd-year">
                                   <select class="form-control ">
                                    <option class="select">1984</option>
                                    <option >1985 </option>
                                    <option >1986 </option>
                                    <option >1987 </option>
                                  </select>
                                  </div>
                                </div>
                                  
                                </div>
                          
                          <div class="form-group">
                              <select class="form-control">
                                <option class="select">Are you a Director in the company? </option>
                                <option >Are you a Director in the company? </option>
                              </select>
                              <span>*</span>
                           </div>
                           
                           <div class="form-group">
                            <label >Does the company operate a corporate bank account?</label>
                              <select class="form-control">
                                <option class="select">State bank of india </option>
                                <option >State bank of india </option>
                              </select>
                              <span>*</span>
                           </div>

                           <div class="form-group">
                              <select class="form-control">
                                <option class="select">Business Status  </option>
                                <option >Business Status  </option>
                              </select>
                              <span>*</span>
                           </div>

                            <div class="form-group">
                              <label >How many permanent employees are employed in the business?</label>
                              <input type="text" class="form-control" placeholder="20+">
                            </div>

                            <div class="form-group">
                              <label >How many temporary/casual employees are employed in  the business?</label>
                              <input type="text" class="form-control" placeholder="12">
                            </div>
                            
                            <div class="form-group">
                              <label >How do you currently keep financial records?</label>
                              <input type="text" class="form-control" placeholder="Yearly">
                              <span class="label-star">*</span>
                            </div>

                            <div class="form-group">
                                <label >Do you have staff whose primary responsibility is to keep financial records?</label>
                                <select class="form-control">
                                  <option class="select">State bank of india </option>
                                  <option >State bank of india </option>
                                </select>
                             </div>

                             <a href="JavaScript:void(0)" class="btn btn-primary">FINISH</a>



                    </form>
                  </div>
                </div>
              </div>
            </div>

            

        </div>
    </section>
             