﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
	string logo = "";string PageBanner ="";
	bool hasRegistered = true;
	bool IsAuthenticated = false;
	
	if(Umbraco.Field("icon",recursive: true) != null)
	{
	  logo = Umbraco.Field("icon",recursive: true).ToString();
	 } 
	if(Umbraco.Field("hasRegistered", recursive: true).ToString() == "False"){
	 hasRegistered = false;
	}
	
   if(Umbraco.Field("Authenticated", recursive: true).ToString() == "True"){
	 IsAuthenticated = true;
	}

	 if(Umbraco.Field("pageBanner",recursive: true) != null)
	{
	  PageBanner = Umbraco.Field("pageBanner",recursive: true).ToString();
	 } 
}


@* the fun starts here *@

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@Umbraco.Field("pageTitle")</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/custom.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/animate.css")" />
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--top-banner-->
    <section class="top-banner account-profile" style="background:url(@Umbraco.TypedMedia(PageBanner).Url) !important;" >
        <!-- header-start -->
        <header class="header">
            <nav class="navbar navbar-default">
              <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="index.html"><img src="@Umbraco.TypedMedia(logo).Url" alt="logo"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">home</a></li>
                    <li><a href="#">services</a></li>
                    <li><a href="#">about us</a></li>
                     @if(IsAuthenticated){
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi <strong>Mick</strong>
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/Home">Update Profile</a></li>
                        <li><a href="/AccountSettings">My Account</a></li>
                        <li><a href="#" class="Logout">Logout</a></li>

                      </ul>
                    </li>
                    }
                    else {
                    <li><a class="btn btn-default" href="#" data-toggle="modal" data-target="#modal2">sign in</a></li>
                    }
                   
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-->
            </nav>
        </header>
        <!-- header-close -->
        <div class="banner-containt">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 wow fadeInUp">
                      <h1>@Umbraco.Field("sectionTitle",recursive: true)</h1>
                      <p>@Umbraco.Field("sectionDescription",recursive: true)</p>
                  </div>
              </div>
          </div>
        </div>
        
    </section> 
    <!--top-banner-->
    
     @RenderBody()
     
    @Html.Partial("Footer");
    
      <script src="@Url.Content("~/scripts/jquery.min.js")"></script>
     <script src="@Url.Content("~/scripts/bootstrap.js")"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Animation -->
<script src="js/wow.min.js"></script>
      <script src="~/scripts/jquery.validate.js"></script>

      @RenderSection("pageScripts", false)
<script>
    wow = new WOW(
        {
          animateClass: 'animated',
          offset:       100,
          callback:     function(box) {
            console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
          }
        }
      );
      wow.init();
</script>

    
  </body>
</html>
