﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "StarterPagesLayout.cshtml";
   var registerimage = @Umbraco.Field("registerSectionImage", recursive: true, altText:"img").ToString();
    var entrepreneurimage = @Umbraco.Field("entrepreneurImage", recursive: true, altText:"img").ToString();  
     var businessplanimage = @Umbraco.Field("businessPlanImage", recursive: true, altText:"img").ToString();
   // background:url(@Umbraco.TypedMedia(Umbraco.Field("registerSectionImage", recursive: true)).Url
}

@* the fun starts here *@

 
 <!-- mid-wena-services -->
    <section class="midsection" >
        <div class="container">
            <div class="row">
              <div class="col-sm-12 wow fadeInDown">
                  <h2> @Umbraco.Field("wenaservices", altText:"WENA SERVICES", recursive: true)</h2>
                  <p>  @Umbraco.Field("wenaservicesDescription", altText:"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since")</p>
              </div>
            </div>
             <div class="wanaservice">
                  <div class="row">
                      <div class="col-sm-4 wow fadeInLeft">
                         
                        <div class="img-box"><img src="@Umbraco.TypedMedia(registerimage).Url"  alt="img"></div>
                        <div class="seprat"><p>1 .</p></div>
                        <div class="textcontent">
                          <h3>@Umbraco.Field("registerSectionTitle")</h3>
                          <p>@Umbraco.Field("registerSectionContent")</p>
                        </div>
                      </div>
                      <div class="col-sm-4 wow fadeInUp">
                        <div class="img-box "><img src="@Umbraco.TypedMedia(entrepreneurimage).Url" alt="img"></div>
                        <div class="seprat"><p>2 .</p></div>
                        <div class="textcontent">
                          <h3>@Umbraco.Field("entrepreneurSectionTitle")</h3>
                          <p>@Umbraco.Field("entrepreneurialSectionContent")</p>
                        </div>
                      </div>
                      <div class="col-sm-4 wow fadeInRight">
                        <div class="img-box"><img src="@Umbraco.TypedMedia(businessplanimage).Url" alt="img"></div>
                        <div class="seprat"><p>3 .</p></div>
                        <div class="textcontent">
                          <h3>@Umbraco.Field("businessPlanTitle")</h3>
                          <p>@Umbraco.Field("businessPlanEditor")</p>
                        </div>
                      </div>
                       <div class="col-sm-12 clearfix text-center wow fadeInUp"> <a class="btn btn-primary" href="#">get started</a> </div>
                  </div>

              </div>
            
        </div>
</section>
    
  <section class="mid-contant">
      <div class="container">
          
       
@{
    string classname = "boxright";
	var selection = Model.Content.Site().Children("homeMidBody").Where(x => x.IsVisible());
	if(selection != null)
	{
	  var length = selection.Count();
	  var index = 0;
	  	foreach(var item in selection)
        {
             int divideoperator = index% 2;
            
              IPublishedContent _currentNode = Umbraco.TypedContent(@item.Id);
               var image = _currentNode.GetPropertyValue("Image").ToString();
             if(divideoperator == 0){
                <div class="boxright">
                <div class="row">
                    <div class="col-sm-5 text-left wow fadeInLeft">
                        <img class="img-responsive" src="@Umbraco.TypedMedia(image).Url" alt="img"></div>
                    <div class="col-sm-7 wow fadeInRight">
                        <h4>@_currentNode.GetPropertyValue("tagLine") </h4>
                      <h2>@_currentNode.GetPropertyValue("mainTitle")</h2>
                      <p>@_currentNode.GetPropertyValue("description") </p>
                          <a href="#">readmore </a>
                    </div>
                  </div>
                </div>
             } else {
              <div class="boxleft">
             <div class="row">
              <div class="col-sm-5 col-sm-push-7 text-right wow fadeInLeft">
              <img class="img-responsive" src="@Umbraco.TypedMedia(image).Url" alt="img">
              </div>
                  <div class="col-sm-7 col-sm-pull-5 wow fadeInRight">
                       <h4>@_currentNode.GetPropertyValue("tagLine") </h4>
                      <h2>@_currentNode.GetPropertyValue("mainTitle")</h2>
                      <p>@_currentNode.GetPropertyValue("description") </p>
                          <a href="#">readmore </a>
                  </div>
                  
              </div>
        </div>
             }
             
             
             
             index = index +1;
        }
        
    }
}
</div>
</section>