﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.PersonalProfileUpdate>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "DashboardLayout.cshtml";
}

 <section class="update-profile">
        <div class="container">
            <div class="row">
              <div class="col-sm-12 wow fadeInDown">
                <ul class="nav nav-tabs ">
                  <li class="active">
                    <a href="#tab_default_1" data-toggle="tab">
                    Personal Profile</a>
                  </li>
                  <li>
                    <a href="#tab_default_2" data-toggle="tab">
                   Edit Profile</a>
                  </li>
                  <li>
                </ul>
                  
              </div>
            </div>

            <div class="tab-content  wow fadeInUp">
              <div class="tab-pane active" id="tab_default_1">
                <div class="row">
                  <div class="col-sm-12">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>  
                    </div>
                  <ul class="profilelist">
                    <li>Title :</li>
                    <li>Shopping store</li>
                    
                    <li>First Name :</li>
                    <li>Pawan</li>
                    
                    <li>Middle Name :</li>
                    <li>Kumar</li>
                    
                    <li>Last Name   :</li>
                    <li>Jangir</li>
                    
                    <li>Gender :</li>
                    <li>Male</li>
                    
                    <li>Birthdate :</li>
                    <li>5 Sep, 1987</li>
                    
                    <li>Telephone Number :</li>
                    <li>9829731138</li>
                    
                    <li>Highest Qualification :</li>
                    <li>10th</li>
                    
                    <li>Mode of Identification :</li>
                    <li>Self <br>566565</li>
                    
                    <li>Country of Residence :</li>
                    <li>United States</li>
                    
                    <li>State of Residence :</li>
                    <li>Canada</li>
                    
                    <li>City/Town of Residence :</li>
                    <li>Alberta</li>
                    
                  </ul>
                </div>
              </div>
              <div class="tab-pane" id="tab_default_2">
                  <div class="row">
                    <div class="col-sm-12">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>  
                    </div>
                  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <form>
                       
                       <div class="form-group">
                        <div class="custom-input">
                          <select class="form-control">
                            <option >Shopping store</option>
                            <option >Business Sector</option>
                          </select>
                          
                          </div>
                       </div>
                       <div class="form-group">
                        <input type="text" class="form-control" placeholder="Pawan">
                       <span>*</span>
                       </div>
                       <div class="form-group">
                        <input type="text" class="form-control" placeholder="Kumar">
                       <span>*</span>
                       </div>
                       <div class="form-group">
                        <input type="text" class="form-control" placeholder="Jangir">
                       <span>*</span>
                       </div>
                      
                       
                        <div class="form-group">

                           
                           <select class="form-control">
                            <option class="select">Gender </option>
                            <option >Male </option>
                            <option >Female </option>
                          </select>

                        </div>

                        <div class="form-group">
                         <div class="wd-day">
                                   <select class="form-control ">
                                    <option class="select">05 </option>
                                    <option >06</option>
                                    <option >07</option>
                                    <option >08</option>
                                  </select>
                                  </div>
                                  <div class="wd-day">
                                   <select class="form-control ">
                                    <option class="select">09 </option>
                                    <option >06</option>
                                    <option >07</option>
                                    <option >08</option>
                                  </select>
                                  </div>
                                  
                                  <div class="custom-input " style="display: inline-block;">
                                  <div class="wd-year">
                                   <select class="form-control ">
                                    <option class="select">1984</option>
                                    <option >1985 </option>
                                    <option >1986 </option>
                                    <option >1987 </option>
                                  </select>
                                  </div>
                                </div>
                        </div>
                        
                        <div class="form-group">
                        <input type="text" class="form-control" placeholder="9829731138">
                       <span>*</span>
                       </div>

                         <div class="form-group">
                            <select class="form-control">
                              <option class="select">Highest Qualification  </option>
                              <option >Highest Qualification  </option>
                            </select>
                            <span>*</span>
                         </div>
			
            			 <div class="form-group">
                            <select class="form-control">
                              <option class="select">Mode of Identification   </option>
                              <option >Mode of Identification  </option>
                            </select>
                            <span>*</span>
                         </div>

                          
                               <div class="form-group">
                                  <input type="text" class="form-control" placeholder="52255">
                                  <span>*</span>
                               </div>

                                <div class="form-group">
                            <select class="form-control">
                              <option class="select">Unitest States  </option>
                              <option >Unitest States </option>
                            </select>
                            <span>*</span>
                         </div>

                               <div class="form-group">
                                
                            
                                  
                                  <div class="custom-input " style="display: inline-block;">
                                  <div class="wd-year">
                                   <select class="form-control w231">
                                    <option class="select">Canada</option>
                                    <option >Canada </option>
                                    <option >Canada </option>
                                    <option >Canada </option>
                                  </select>
                                  
                                  </div>
                                </div>
                                  <div class="custom-input " style="display: inline-block;">
                                  <div class="wd-year">
                                   <input type="text" class="form-control w300" placeholder="City/Town of Residence ">
                                  <span>*</span>
                                  </div>
                                </div>
                                  
                                </div>
                          
                          	
                             <a href="JavaScript:void(0)" class="btn btn-primary">Update Profile</a>



                    </form>
                  </div>
                </div>
              </div>
            </div>

            

        </div>
    </section>

