﻿
    @inherits Umbraco.Web.Mvc.UmbracoViewPage<Wena.Presentation.Controller.PersonProfileController.CustomRenderModel>
    @{
        Layout = "DashboardLayout.cshtml";
    }




    <!-- Upddate Profile -->
    <section class="update-profile">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 wow fadeInDown">
                    <ul class="nav nav-tabs ">
                        <h1></h1>
                    </ul>

                </div>
            </div>

            <div class="tab-content  wow fadeInUp">
                <div class="tab-pane active" id="tab_default_1">
                    <div class="row">
                        <div class="col-sm-12">
                            <p></p>
                        </div>
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <form>
                                <input name="Id" value="@Model.ProfilePageData.Id" />
                                <div class="form-group">
                                    <div class="custom-input">
                                        <select name="Title" class="form-control">
                                            <option>Title </option>
                                            <option>Title </option>
                                        </select>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="FirstName" class="form-control" placeholder="First Name ">
                                    <span>*</span>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="MiddleName" class="form-control" placeholder="Middle Name">
                                    <span>*</span>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name ">
                                    <span>*</span>
                                </div>


                                <div class="form-group">


                                    <select name="Gender" class="form-control ">
                                        <option class="select">Gender </option>
                                        <option>Male </option>
                                        <option>Female </option>
                                    </select>

                                </div>

                                <div class="form-group">
                                    <div class="wd-day">
                                        <select class="form-control ">
                                            <option class="select">05 </option>
                                            <option>06</option>
                                            <option>07</option>
                                            <option>08</option>
                                        </select>
                                    </div>
                                    <div class="wd-day">
                                        <select class="form-control ">
                                            <option class="select">09 </option>
                                            <option>06</option>
                                            <option>07</option>
                                            <option>08</option>
                                        </select>
                                    </div>

                                    <div class="custom-input " style="display: inline-block;">
                                        <div class="wd-year">
                                            <select class="form-control ">
                                                <option class="select">1984</option>
                                                <option>1985 </option>
                                                <option>1986 </option>
                                                <option>1987 </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Telephone Number ">
                                    <span>*</span>
                                </div>

                                <div class="form-group">
                                    <select class="form-control">
                                        <option class="select">Highest Qualification  </option>
                                        <option>Highest Qualification  </option>
                                    </select>
                                    <span>*</span>
                                </div>

                                <div class="form-group">
                                    <select class="form-control">
                                        <option class="select">Mode of Identification   </option>
                                        <option>Mode of Identification  </option>
                                    </select>
                                    <span>*</span>
                                </div>


                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Identification Number ">
                                    <span>*</span>
                                </div>

                                <div class="form-group">
                                    <select class="form-control">
                                        <option class="select">Country of Residence </option>
                                        <option>Unitest States </option>
                                    </select>
                                    <span>*</span>
                                </div>

                                <div class="form-group">



                                    <div class="custom-input " style="display: inline-block;">
                                        <div class="wd-year">
                                            <select class="form-control w231">
                                                <option class="select">State of Residence </option>
                                                <option>Canada </option>
                                                <option>Canada </option>
                                                <option>Canada </option>
                                            </select>

                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="custom-input " style="display: inline-block;">
                                        <div class="wd-year">
                                            <input type="text" class="form-control w300" placeholder="City/Town of Residence  ">
                                            <span>*</span>
                                        </div>
                                    </div>

                                </div>


                                <button type="submit" class="btn btn-primary submitform">Finsih </button>



                            </form>
                        </div>
                    </div>
                </div>

            </div>



        </div>

    </section>
    @section pageScripts{
        <script>
            $('.submitform').on('click', function (e) {
                e.preventDefault();
                alert('sending');
                var form = $(this).parents('form:first');
                var result = form.valid();
                if (result) {
                    var form = $(this).closest('form');
                    var myformdata = form.serialize();
                    var token = $('input[name="__RequestVerificationToken"]', form).val();


                    $.ajax
                        ({
                            type: "Post",
                            url: '/umbraco/surface/Account/UpdateProfile',
                            headers: { __RequestVerificationToken: token },

                            data: myformdata,
                            success: function (result) {

                                $message = result.Message;
                                $status = result.status;
                                if (result.Success) {
                                    window.location = "/personal-profile-page/"
                                }
                                else {

                                    $('#errormessage').html(result.Message);
                                    // $status = "error";

                                }


                            },
                            error: function (xhr, status, p3, p4) {
                                var err = "Error " + " " + status + " " + p3 + " " + p4;
                                if (xhr.responseText && xhr.responseText[0] === "{")
                                    err = JSON.parse(xhr.responseText).Message;

                            }

                        });

                }
                else {

                }
            });
        </script>
    }
