﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Wena.Presentation.Models
@{
	Layout = null;
	string logo = "";
    string PageBanner = "";
	
	if(Umbraco.Field("icon",recursive: true) != null)
	{
	  logo = Umbraco.Field("icon",recursive: true).ToString();
	 } 

	 if(Umbraco.Field("pageBanner",recursive: true) != null)
	{
	  PageBanner = Umbraco.Field("pageBanner",recursive: true).ToString();
	 } 
}


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@Umbraco.Field("pageTitle", recursive: true)</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/custom.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/animate.css")" />
    
   
  </head>
  <body>
    <!--top-banner-->
    <section class="top-banner" style="background:url(@Umbraco.TypedMedia(PageBanner).Url) !important;" >
        <!-- header-start -->
        
        <header class="header">
         @Html.Partial("Header")
        </header>
        <!-- header-close -->
          <div class="container">
        <div class="banner-containt">
              <div class="row">
                  <div class="col-sm-12  wow fadeInUp">
                      <h1>What would you Learn?</h1>
                      <p>Increase your expertise in business, technology and personal development</p>
                      <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#myModal">Sign Up</a>
                  </div>
              </div>
               
                    <a href="#" id="down" class="arrow-box"><img src="../media/1016/top-arrow.png" alt="img"></a>
               
          </div>
        </div>
       
    </section> 
    
   
        @RenderBody()
      
       @Html.Partial("Footer")

   
 
    <!-- footer -->
    <!-- copy-right -->
   
    <!-- copy-right -->


<!-- Modal -->
<div class="modal fade " id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="img/close.png" alt="">
        </button>
      </div>
      <div class="modal-body">
          @Html.Partial("LoginForm", new LoginViewModel())
      </div>
      
    </div>
  </div>
</div>

<!-- Modal -->

<!-- Modal -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="img/close.png" alt="">
        </button>
      </div>
      <div class="modal-body">
             
          @Html.Partial("SignUpForm", new RegisterViewModel())
      </div>
      
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade " id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="img/close.png" alt="">
        </button>
      </div>
      <div class="modal-body">
            
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Enter Old Password">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Enter New Password">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Confirm New Password">
            </div>
            <a  class="btn btn-primary">Reset Password</a>
      </div>
      
    </div>
  </div>
</div>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
    <script src="@Url.Content("~/scripts/jquery.min.js")"></script>
     <script src="@Url.Content("~/scripts/bootstrap.js")"></script>
      <script src="@Url.Content("~/scripts/wow.min.js")"></script>

      <script src="~/scripts/axios.min.js"></script>
      <script src="~/scripts/jquery.validate.js"></script>
      
      @RenderSection("pageScripts", false)
      
    
<script>
    wow = new WOW(
        {
          animateClass: 'animated',
          offset:       100,
          callback:     function(box) {
            console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
          }
        }
      );
      wow.init();
</script>


<script>
     $("#down").click(function() {
      $('html,body').animate({
          scrollTop: $(".midsection").offset().top},
          'slow');
      });
</script>
 <script>
        $('.submitform').on('click', function (e) {
            e.preventDefault();
           // alert('sending');
            var form = $(this).parents('form:first');
            var result = form.valid();
            if (result) {
                var form = $(this).closest('form');
                var myformdata = form.serialize();
                var token = $('input[name="__RequestVerificationToken"]', form).val();


                $.ajax
                    ({
                        type: "Post",
                        url: '/umbraco/surface/Account/MemberRegistration',
                        headers: { __RequestVerificationToken: token },

                        data: myformdata,
                        success: function (result) {

                            $message = result.Message;
                            $status = result.status;
                            if (result.Success) {
                                window.location ="/personal-profile-page/"
                            }
                            else {

                                $('#errormessage').html(result.Message);
                               // $status = "error";
                               
                            }


                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] === "{")
                                err = JSON.parse(xhr.responseText).Message;
                           
                        }

                    });

            }
            else {

            }
        });
    </script>

  </body>
</html>

